@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z3igty');
  src:  url('fonts/icomoon.eot?z3igty#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?z3igty') format('truetype'),
    url('fonts/icomoon.woff?z3igty') format('woff'),
    url('fonts/icomoon.svg?z3igty#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about:before {
  content: "\e900";
}
.icon-actionable-solutions:before {
  content: "\e901";
}
.icon-agricultural-use:before {
  content: "\e902";
}
.icon-aligator-lizard:before {
  content: "\e903";
}
.icon-barriers:before {
  content: "\e904";
}
.icon-beaver:before {
  content: "\e905";
}
.icon-biodiversity-conservation:before {
  content: "\e906";
}
.icon-biodiversity:before {
  content: "\e907";
}
.icon-biogeoclimatic-realms:before {
  content: "\e908";
}
.icon-black-bear:before {
  content: "\e909";
}
.icon-black-tailed-deer:before {
  content: "\e90a";
}
.icon-bryophytes:before {
  content: "\e90b";
}
.icon-canada-lynx:before {
  content: "\e90c";
}
.icon-citizen-science:before {
  content: "\e90d";
}
.icon-climate-change-refugia:before {
  content: "\e90e";
}
.icon-climate-change:before {
  content: "\e90f";
}
.icon-climate-corridors:before {
  content: "\e910";
}
.icon-community-mapping:before {
  content: "\e911";
}
.icon-connectivity-conservation:before {
  content: "\e912";
}
.icon-connectivity-network:before {
  content: "\e913";
}
.icon-connectivity-overlay:before {
  content: "\e914";
}
.icon-consequences:before {
  content: "\e915";
}
.icon-coyote:before {
  content: "\e916";
}
.icon-douglass-squirel:before {
  content: "\e917";
}
.icon-ecological-connectivity:before {
  content: "\e918";
}
.icon-ecological-values:before {
  content: "\e919";
}
.icon-EcoScapes:before {
  content: "\e91a";
}
.icon-ecosystem-health:before {
  content: "\e91b";
}
.icon-ecosystem-integrity:before {
  content: "\e91c";
}
.icon-ecosystem-resilience:before {
  content: "\e91d";
}
.icon-ecosystem-services:before {
  content: "\e91e";
}
.icon-effective-means:before {
  content: "\e91f";
}
.icon-emvironmental-education:before {
  content: "\e920";
}
.icon-ensatina-salamander:before {
  content: "\e921";
}
.icon-focal-species:before {
  content: "\e922";
}
.icon-fores-harvest:before {
  content: "\e923";
}
.icon-forest-thinning:before {
  content: "\e924";
}
.icon-forest-types:before {
  content: "\e925";
}
.icon-garter-snake:before {
  content: "\e926";
}
.icon-grizzly-bear:before {
  content: "\e927";
}
.icon-habitat-connectivity:before {
  content: "\e928";
}
.icon-habitat-cores:before {
  content: "\e929";
}
.icon-habitat-losses:before {
  content: "\e92a";
}
.icon-habitat-protection:before {
  content: "\e92b";
}
.icon-habitat-restoration:before {
  content: "\e92c";
}
.icon-habitat-suitability:before {
  content: "\e92d";
}
.icon-habitat-threats:before {
  content: "\e92e";
}
.icon-herptiles:before {
  content: "\e92f";
}
.icon-hoary-marmot:before {
  content: "\e930";
}
.icon-how-to-contribute:before {
  content: "\e931";
}
.icon-human-footprint:before {
  content: "\e932";
}
.icon-invasive-species:before {
  content: "\e933";
}
.icon-land-cover:before {
  content: "\e934";
}
.icon-large-range-corridors:before {
  content: "\e935";
}
.icon-large-range-species:before {
  content: "\e936";
}
.icon-learning-resources:before {
  content: "\e937";
}
.icon-linear-infrastructure:before {
  content: "\e938";
}
.icon-local-knowledge:before {
  content: "\e939";
}
.icon-long-toed-salamander:before {
  content: "\e93a";
}
.icon-macro-refugia:before {
  content: "\e93b";
}
.icon-mammals:before {
  content: "\e93c";
}
.icon-mesic-vegetation:before {
  content: "\e93d";
}
.icon-micro-range-species:before {
  content: "\e93e";
}
.icon-micro-refugia:before {
  content: "\e93f";
}
.icon-mink:before {
  content: "\e940";
}
.icon-mission:before {
  content: "\e941";
}
.icon-moderate-range-corridors:before {
  content: "\e942";
}
.icon-moderate-range-species:before {
  content: "\e943";
}
.icon-mountain-goat:before {
  content: "\e944";
}
.icon-northwest-salamander:before {
  content: "\e945";
}
.icon-open-data-portal:before {
  content: "\e946";
}
.icon-pacific-fisher:before {
  content: "\e947";
}
.icon-pacific-tree-frog:before {
  content: "\e948";
}
.icon-pinchpoints:before {
  content: "\e949";
}
.icon-planning-guide:before {
  content: "\e94a";
}
.icon-priority-linkages:before {
  content: "\e94b";
}
.icon-question:before {
  content: "\e94c";
}
.icon-red-legged-frog:before {
  content: "\e94d";
}
.icon-resistance-to-movement:before {
  content: "\e94e";
}
.icon-site-level-vegetation:before {
  content: "\e94f";
}
.icon-small-range-corridors:before {
  content: "\e950";
}
.icon-small-range-species:before {
  content: "\e951";
}
.icon-species-occurrences:before {
  content: "\e952";
}
.icon-stewardship-guide:before {
  content: "\e953";
}
.icon-story-telling:before {
  content: "\e954";
}
.icon-structural-connectivity:before {
  content: "\e955";
}
.icon-urbanization:before {
  content: "\e956";
}
.icon-vascular-plants:before {
  content: "\e957";
}
.icon-western-toad:before {
  content: "\e958";
}
.icon-wetland-riparian:before {
  content: "\e959";
}
.icon-what-we-do:before {
  content: "\e95a";
}
.icon-who-we-are:before {
  content: "\e95b";
}
.icon-wildfire:before {
  content: "\e95c";
}
.icon-wildlife-corridors:before {
  content: "\e95d";
}
.icon-wolverine:before {
  content: "\e95e";
}
.icon-xeric-vegetation:before {
  content: "\e95f";
}
.icon-yellow-pine-chipmunk:before {
  content: "\e960";
}
